<!DOCTYPE html>
<html>
  <head>
<<<<<<< HEAD
    <title>Pirates Lab</title>
=======
    <title>Pirate!</title>
>>>>>>> d092d82b5dfceaf6f530f53816e3c7eea7063329
  </head>
  <body>
    <p><%= @pirate.name %></p>
    <p><%= @pirate.height %></p>
    <p><%= @pirate.weight %></p>

    <p><% @ships.each do |ship| %>
      <%= ship.name %>
      <%= ship.type %>
      <%= ship.booty %>
    <% end %></p>
  </body>
</html>
