

<h1><%=params[:name]%></h1>
<h1><%=params[:weight]%></h1>
<h1><%=params[:height]%></h1>


<h1><%=params[:name]%></h1>
<h1><%=params[:type]%></h1>
<h1><%=params[:booty]%></h1>


<h1><%=params[:name]%></h1>
<h1><%=params[:type]%></h1>
<h1><%=params[:booty]%></h1>
