
<h1>Pirate</h1>
<p><%=pirate[name]%></p>
<p><%=pirate[weight]%></p>
<p><%=pirate[height]%></p>
<p><%= @pirate.name %></p>
<p><%= @pirate.height %></p>
<p><%= @pirate.weight %></p>

<h1>Ships</h1>
<h1><%@ships.each do |ship|%>
<p><%=ship.name%></p>
<p><%=ship.type%></p>
<p><%=ship.booty%></p>
<%end%>
